@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
header {
    height: 67px;
    background-color:black;
}

.container-grid {
    width: 1700px;
    margin: 0 auto;
    vertical-align: center;
}

.logo {
    width: 5px;
}

.links {
    display: flex;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-between;
    align-items: center;
    
}

.login {
    display: flex;
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
    justify-content: space-between;
    vertical-align: top;
    align-items:right;
    
    
}

.face {
    display:flex;
    justify-content: space-between;
    vertical-align: sub;
    align-items:right;

}

.links {
    color: white;
    text-decoration: none;
    text-transform: uppercase;
    font-family:Arial, Helvetica, sans-serif;
}

.links a:hover {
    text-decoration: underline;
    text-shadow:yellowgreen;
}

.banner {
    height: 225px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}