@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    text-decoration: none;
}

body {
    font-family: 'Roboto', sans-serif;
}

.container-grid {
    width: 1200px;
    margin: 0 auto;
}

header {
    background-color:black;
}

.menu {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.menu a {
    text-transform: uppercase;
    color: white;
}

.menu a:hover {
    text-decoration: underline;
    text-shadow: 2px 4px 5px yellowgreen;
}

.menu div.menuPrincipal {
    margin: 0 10px;
    
}

.banner {
    height: 225px;
    background-image: url(../img/banner.png);
    background-repeat: no-repeat;
    background-position:center;
    background-size: cover;
}